<!DOCTYPE html>
<html ng-app="inclistTest">

<head>
  <title>Test</title>

  <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="text/css"/>
  <link rel="stylesheet" type="text/css" href="src/inclist/example/inclistTest.css" rel="text/css"/>

  <script src="bower_components/angular/angular.min.js"></script>

  <!--<script src="bower_components/underscore/underscore-min.js"></script>-->

  <script src="src/inclist/inclist.js"></script>

  <script src="src/inclist/example/inclistTest.js"></script>

  <!-- This will override template for inclist-out directive -->
  <!--<script id="templates/inclist/inclist-out-list.html" type="text/ng-template">-->
    <!--<ul class="list-inline plates">-->
      <!--<li ng-repeat="item in list">{{ item.name }}-->
        <!--<button type="button" class="close" aria-hidden="true" ng-click="removeItem(item.id)">&times;</button>-->
      <!--</li>-->
    <!--</ul>-->
  <!--</script>-->

</head>

<body>

<div ng-controller="InclistCtrl">

  <div class="form-group">
    <div class="col-sm-4" ng-class="{'has-error': wrongPropSelection || propSelectionAlreadyExists}">

      <inclist-input inclist-input-list="list" inclist-input-prop-selection="propSelection"></inclist-input>

      <inclist-out inclist-out-list="list"></inclist-out>
    </div>
    <div class="col-sm-6" ng-show="wrongPropSelection">
      <span class="help-block"><p class="text-danger">Please, check your input! The property does not exist!</p></span>
    </div>
    <div class="col-sm-6" ng-show="propSelectionAlreadyExists">
      <span class="help-block"><p class="text-danger">Please, check your input! The property already added!</p></span>
    </div>
  </div>


</div>

</body>
</html>