<div>
  <form>
    <!--
      If using custom template you have to use <form> and <input> elements for the same as in current template
      as of the directive 'inclist-input' will inject appropriate behavior based on these elements.
    -->
    <div class="input-group">
      <input autocomplete="off" class="form-control"
             placeholder="Type here and press enter to add property">

      <span class="input-group-btn"><button class="btn btn-default" type="submit">+</button></span>
    </div>
  </form>
</div>
